# Exclude the project virtual environment from image builds.
**/.venv
# Python realted files.
**/__pycache__
**/.pytest_cache
.ruff_cache
tests/
# Exclude Dev settings.
.vscode
.devcontainer
ruff.toml
# Git
.git
# Docker
.dockerignore
# MacOS
.DS_Store
# Project
LICENSE
dist/
lightning_logs
MNIST