# To define the appropriate settings for each Python file, Ruff looks for the first pyproject.toml, ruff.toml,
# or .ruff.toml file in the file's directory or any parent directory, while prioritizing ruff.toml.

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    ".devcontainer",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "logs.log",
    "mlruns",
    "mlflow_benchmark",
    "docs",
    "data",
]

line-length = 99

target-version = "py312"

[lint]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
select = [
    "E",    # pycodestyle
    # "E4",
    # "E7",
    # "E9",
    "N",    # pep8-naming
    "F",    # pyflakes
    "D",    # pydocstyle
]
ignore = [
    "D100",  # Missing docstring in public module
    "D101",  # Missing docstring in public class
    "D107",  # Missing docstring in __init__
    "D202",  # No blank lines allowed after function docstring
    "D413",  # Missing blank line after last section
]

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[format]
quote-style = "double"
skip-magic-trailing-comma = true
line-ending = "auto"
indent-style = "space" # Default is "4" spaces.
docstring-code-format = true
docstring-code-line-length = 120 # use "dynamic" to use the line-length value from "line-length".

[per-file-ignores]
"tests/**" = ["D103"]  # Ignore missing docstrings in tests

[pydocstyle]
convention = "google"
